<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/Scripts/js")
</head>
<body>
    <nav class="navbar navbar-inverse">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
                        data-target="#navAdmin" aria-expanded="false">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>s
                </button>
                <a class="navbar-brand" href="@Url.Action("Index", "AdminHome")">Admin</a>
            </div>
            <div class="collapse navbar-collapse" id="navAdmin">
                <ul class="nav navbar-nav">
                    <li> <a href="@Url.Action("Index", "AGiay")">QUẢN LÝ SẢN PHẨM</a></li>
                    <li> <a href="@Url.Action("Index", "NhanVien")">QUẢN LÝ NHÂN VIÊN</a></li>
                    <li> <a href="@Url.Action("Index", "KhachHang")">QUẢN LÝ KHÁCH HÀNG</a></li>
                    <li> <a href="@Url.Action("Index", "DonHang")">QUẢN LÝ ĐƠN HÀNG</a></li>
                </ul>

            </div>
        </div>
    </nav>
    <div>
        @RenderBody()
    </div>
    <footer class="container well">
        <div style="text-align:center">
            <p>ADMIN</p>
        </div>
    </footer>
</body>
</html>
