@model IEnumerable<ShopGiay.Models.NHANHIEU>

<nav class="navbar navbar-inverse">
    <!--navbar-fixed-top-->
    <div class="container">

        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar1" aria-expanded="false">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#">ShopGiay</a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="navbar1">
            <ul class="nav navbar-nav">
                li class="active">
                <li><a href="@Url.Action("Index", "GioiThieu")">GIỚI THIỆU</a> </li>
                <li><a href="@Url.Action("Index", "LienHe")">LIÊN HỆ</a> </li>
                <li class="dropdown">
                    @*<a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false" aria-haspopup="true">SÁCH THEO CHỦ ĐỀ<span class="caret"></span></a>*@
                    <ul class="dropdown-menu">
                        @foreach (var item in Model)
                        {
                            <li>@Html.ActionLink(item.TenNH, "TheoNhanHieu", new { id = item.MaNH }, "Giay")</li>
                            <li role="separator" class="divider"></li>
                        }
                    </ul>
                </li>
                <li>
                    <form class="navbar-form navbar-right" method="get" action="/Search/Search" role="search">
                        <div class="form-group">
                            <input type="text"  name="strSearch" value="@ViewBag.Search" class="form-control" placeholder="Tìm kiếm">
                        </div>
                        
                        <button type="submit" class="btn btn-default">Tìm</button>

                    </form>

                </li>
                <li><a href="@Url.Action("DangKy", "User")"> Đăng ký</a></li>
                <li><a href="@Url.Action("DangNhap", "User")">Đăng nhập</a></li>
                <li><a href="@Url.Action("Login", "AdminHome", new { Area = "Admin" })">Admin</a></li>

                @*<li>@Html.Action("GioHangPartial", "GioHang")</li>*@
                <ul class="nav navbar-nav">
                    <li>@Html.Action("GioHangPartial", "GioHang")</li>
                </ul>
            </ul>


        </div>
        <!-- /.navbar-collapse -->
    </div>
    <!-- /.container-->
</nav>
